body{
    background-image: url(pictures/akan2.jpg);
    background-image: cover;
    background-position: center;
}
h2{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 400;
}

/* CSS for form section */
.form-section{
    position: center;
    margin-top: 191px;
    margin-left: 191px;
}
.lblname{
    color: whitesmoke;
    font-size: 32px;
}
.lblgender{
    color: whitesmoke;
    font-size: 32px;
    margin-left: 37px;
}
#bdate{
    margin-left: 20px;
    
}
#lblname{
    color: whitesmoke;
}
#male{
    margin-left: 20px;
}
#female{
    margin-left: 20px; 
}
.btn-block{
    margin-top: 10px;
    margin-left: 50px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }
.name{
    margin-top: 40px;
    margin-left: 60px;
}


/* responsiveness */
@media only screen and (max-width: 600px){
    .form-section{
        position: center;
        margin-top: 100px;
        margin-left: 40px;
    }
    .name{
        margin-left:  30px; 
    }
    h2{
        color: whitesmoke;
        font-size: 20px;
        font-weight: 400;
    }
    .lblname{
        color: whitesmoke;
        font-size: 20px;
    }
    .lblgender{
        color: whitesmoke;
        font-size: 20px;
        margin-left: 24px;
    }
    #bdate{
    margin-left: 20px;
    }
}